<h1>
  <%= @cocktail.name %>
</h1>

<h3>
  Ingredients
</h3>

<% doses = @cocktail.doses %>
<ul>
  <% doses.each do |dose| %>
    <li>
      <%= dose.description %>
      <%= dose.ingredient.name %>
    </li>
  <% end %>
</ul>
