<h3>Add ingredient</h3>
<%= simple_form_for [cocktail, dose] do |f| %>
  <%= f.association :ingredient, label_method: :name, value_method: :id, label: 'Select ingredient', as: :select, input_html:  { class: 'select2' }  %>
  <%= f.input :description, label: 'Amount: ' %>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>
