<h2>Add ingredients</h2>

<%= simple_form_for([@cocktail, @dose]) do |f| %>
  <%= f.association :ingredient, label_method: :name, value_method: :id, label: 'Select ingredient', as: :select  %>
  <%= f.input :description, label: 'Amount: ' %>
  <%= f.submit %>
<% end %>
